# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# dependencies
/node_modules

# Environment Files
.env
configurations.yml

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json